<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.luteoos.todoapp">
    <application
            android:name=".ToDoStartup"
            android:allowBackup="true"
            android:icon="@drawable/ic_pepe"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:name=".views.SplashScreen"
                android:theme="@style/LandingTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".views.activities.LogInScreen"
                android:theme="@style/LandingTheme"
                android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
                android:name=".views.activities.NavigatorMenu"
                android:theme="@style/LandingTheme"
                android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
                android:name=".views.activities.ActivityDoubleTheTrouble"
                android:theme="@style/LandingTheme"
                android:windowSoftInputMode="stateHidden|adjustPan" />

    </application>
</manifest>
